.all-cars-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.all-cars-container::-webkit-scrollbar {
    width: 12px;
}

.all-cars-container::-webkit-scrollbar-track {
    background: transparent
}

.all-cars-container::-webkit-scrollbar-thumb {
    background: rgb(33, 44, 203);
    background: linear-gradient(0deg, rgba(155,160,226,1) 0%, rgba(208,208,213,1) 0%, rgba(88,89,92,1) 23%, rgb(153, 155, 173) 58%, rgb(152, 156, 185) 100%);
    border-radius: 10px;
    border: none
}

.all-cars-container a {
    text-decoration: none;
}
.car-image-info-div {
    width: 550px;
    height: 350px;
    margin-left: 20px;
    box-shadow: inset 0px 44px 45px black;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 6px solid #1a1b1a;
    overflow: hidden;
}
.car-image-info-div:hover{
    box-shadow: inset 0px 54px 65px black;

}
.all-cars-container img {
    width: 550px;
    height: 350px;
    position: absolute;
    z-index: -2;
}

.car-image-info-div img {
    transition: 0.5s all ease-in-out;
}
.car-image-info-div:hover img {
    transform: scale(1.02);
}


.all-cars-make-model {
    color: whitesmoke;
    position: relative;
    font-size: 30px;

}
.car-price{
    font-size: 17px;
    position: relative;
    bottom: 25px;
}

h2,  h3 {
    margin-left: 60px;
    font-size: 25px;
    background: -webkit-linear-gradient(#d2cece, #1389d3f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all-cars-h1{
    margin-top: 20px;
}

.search-car-input {
    text-align: center;
    margin-top: 20px;
}
.search-car-input input {
    width: 300px;
    height: 40px;
    background-color: #141414;
    color: aliceblue;
    font-size: larger;
    border-radius: 7px;
    padding-left: 10px;
    border: 1px solid whitesmoke;
}
