.all-cars-container {
    display: flex;
    flex-direction: row;

}
.all-cars-container a {
    text-decoration: none;
}
.car-image-info-div {
    width: 550px;
    height: 350px;
    margin-left: 20px;
    box-shadow: inset 0px 44px 45px black;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.car-image-info-div:hover{
    box-shadow: inset 0px 54px 65px black;
}
.all-cars-container img {
    width: 550px;
    height: 350px;
    position: absolute;
    z-index: -2;
    transition: 0.5s all ease-in-out;
}
.all-cars-container:hover img {
    transform: scale(1.02);
}

.all-cars-make-model {
    color: whitesmoke;
    position: relative;
    font-size: 30px;

}
.car-price{
    font-size: 17px;
    position: relative;
    bottom: 25px;
}

h3 {
    margin-left: 60px;
    font-size: 25px;
    background: -webkit-linear-gradient(#d2cece, #1b4695);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
