.profile-page-main-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile-page-main-div img{
    width: 300px;
    border-radius: 20px;
}

.profile-your-cars {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: self-start;
    margin-left: 120px;
}

.profile-page-cars-make {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}
.profile-page-main-div button {
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #141414;
    color: whitesmoke;
    margin-left: 10px;
    cursor: pointer;
}
.profile-page-main-div button:hover {
    background-color: whitesmoke;
    color: #141414;
}

.your-cars-h2 {
    margin-left: 200px;
}
.your-wishlist-h2{
    margin-left: 200px;
}
.car-detail-your-reviews {
    margin-top: 50px;
}
.profile-wishlist-div {
    margin-left: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.wishlist-list-div img{
    width: 240px;
    height: 160px;
}
