.profile-dropdown {
  position: absolute;
  background-color: #1d1c1d;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  border: #464646 1px solid;
}

.hidden {
  display: none;
}

.main-navbar{
  display: flex;
  justify-content: space-around;
  background-color: #111010;
  align-items: center;
  margin: 0;
  color: whitesmoke;
  height: 100px;
}

.main-navbar ul {
  margin: 0;
}

.navbar-profile-buttons{
  display: flex;
  flex-direction: row;
}

.profile-button {
  padding: 5px 30px;
  font-size: 20px;
  margin-right: 20px;
  background-color: #464646;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
}
.profile-button:hover {
  background-color: aliceblue;
  background-color: #1d1c1d;
}
.addcar-button {
  padding: 5px 30px;
  font-size: 20px;
  margin-left: 10px;
  background-color: #464646;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
}
.addcar-button:hover {
  background-color: aliceblue;
  background-color: #1d1c1d;
}

.log-bttn {
  background-color: #1d1c1d;
  border: none;
  color: #d1d2d3;
  padding: 10px;
  border-radius: 10px;
  width: 120px;

}

.log-bttn:hover {
  background-color: rgba(211, 211, 211, 0.067);
  border: none;
  cursor: pointer;
}

.fas {
  font-size: 20px;
  background: transparent;
}

.carsat-logo {
  width: 100px;
  height: 100px;
}
